#why we need List

What are Python lists good for?
Lists are great to use when you want to work with many related values. They enable you to keep data together that belongs together, condense your code, and perform the same methods and operations on multiple values at once

In [ ]:
sea_creatures = ['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

In [ ]:
print(sea_creatures)

['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

#List

In [ ]:
li = ['Python', 1, 2, 'List', 'spam', ['cat','bird'], 3.133, 
      'AI', 'Heloo', 'spam',{54,90,9}, (1,2,3), False]

In [ ]:
type(li)

list

The First value in the list is at index 0

second value at index 1

third value at index 2 and so on

In [ ]:
li[0]

'Python'

In [ ]:
li[-1] #Negative indexes

False

In [ ]:
li[6]

3.133

In [ ]:
type(li[6])

float

In [ ]:
'Hello '+ li[0]

'Hello Python'

In [ ]:
len(li) #how many element in list

13

#Getting Sublist with slices

Just an index can get a single value from a list

 a slice can get several values from a list

In [ ]:
li[1:4] # a list with a slice # 1,2,3 indices

[1, 2, 'List']

In [ ]:
li[:2]  # 0, 1 indices

['Python', 1]

In [ ]:
li[7:] #7,8,9 indices

['AI', 'Heloo', 'spam', {9, 54, 90}, (1, 2, 3), False]

In [ ]:
li[:]

['Python',
 1,
 2,
 'List',
 'spam',
 ['cat', 'bird'],
 3.133,
 'AI',
 'Heloo',
 'spam',
 {9, 54, 90},
 (1, 2, 3),
 False]

In [ ]:
li

['Python',
 1,
 2,
 'List',
 'spam',
 ['cat', 'bird'],
 3.133,
 'AI',
 'Heloo',
 'spam',
 {9, 54, 90},
 (1, 2, 3),
 False]

#Changing Values in a list with indexes

In [ ]:
li[1]

1

In [ ]:
li[1] = 'ML'

In [ ]:
li

['Python',
 'ML',
 2,
 'List',
 'spam',
 ['cat', 'bird'],
 3.133,
 'AI',
 'Heloo',
 'spam',
 {9, 54, 90},
 (1, 2, 3),
 False]

#List Concatenation and list Replication

The +  operator can combine two lists to create a new list

The *  operator is used witha a list and an integer value to replicate the list

In [ ]:
li1 = [1,2,3,'ai']
li2 = ['a','b','c']

In [ ]:
li3 = li1+li2

In [ ]:
li3

[1, 2, 3, 'ai', 'a', 'b', 'c']

In [ ]:
li4 = li1 * 2

In [ ]:
li4

[1, 2, 3, 'ai', 1, 2, 3, 'ai']

#Removing values from Lists with del statement

In [ ]:
li

['Python',
 'ML',
 2,
 'List',
 'spam',
 ['cat', 'bird'],
 3.133,
 'AI',
 'Heloo',
 'spam',
 {9, 54, 90},
 (1, 2, 3),
 False]

In [ ]:
del li[3]

In [ ]:
li

['Python',
 'ML',
 2,
 'spam',
 ['cat', 'bird'],
 3.133,
 'AI',
 'Heloo',
 'spam',
 {9, 54, 90},
 (1, 2, 3),
 False]

#create a List with loops

In [ ]:
catNames = [] #Zophie,pooka,Simon,Fat-Tail
while True:
    print('Enter the names of cat: ' + str(len(catNames) + 1) + ' (Or enter nothing to stop)')
    
    name = input()
    if name == '':
        break
    catNames.append(name)
    #catNames += [name]

print('The cat names are : ', catNames)

Enter the names of cat: 1 (Or enter nothing to stop)
aa
Enter the names of cat: 2 (Or enter nothing to stop)

The cat names are :  ['aa']

In [ ]:
for name in catNames:
    print(name)

aa

In [ ]:
for i in range(len(catNames)):
    print(catNames[i])

aa

#enumerate() function

if you wanted to know the index of an element while going through the list, you can just use enumerate(), cz that's the easy way

In [ ]:
fruits = ['apple', 'orange','mango', 'blueberry']
for index, fruit in enumerate(fruits):
    print('{} ---- {}'.format(index+1,fruit))

1 ---- apple
2 ---- orange
3 ---- mango
4 ---- blueberry

The enumerate() returns a tuple for each element in the list

here, 1st value in the tuple is the index, second value in the tuple is the element

#The in and not in operator

In [ ]:
li

['Python',
 'ML',
 2,
 'spam',
 ['cat', 'bird'],
 3.133,
 'AI',
 'Heloo',
 'spam',
 {9, 54, 90},
 (1, 2, 3),
 False]

In [ ]:
False in li

True

In [ ]:
3.133 in li

True

In [ ]:
'List' in li

False

In [ ]:
'List' not in li

True

#Multiple Assignment Trick

The multiple assignment trick is a shortcut that lets yu assign multiple variables with the values in a list in one lide of code.

In [ ]:
cat = ['fat','black','disposition']
size = cat[0]
color = cat[1]
disposition = cat[2] 

# we used to do this

In [ ]:
# this is easier
cat = ['fat','black','disposition']
size, color, disposition = cat

#Methods

A method is the same thing as a function, except it is called on a value.

The mathod part comes after the value, separeted by a period.

The list data type, for example has several methods for finding, adding, removing, and otherwise manipulating values in a list

#Finding a value in a list with the index() method

In [ ]:
li

['Python',
 'ML',
 2,
 'spam',
 ['cat', 'bird'],
 3.133,
 'AI',
 'Heloo',
 'spam',
 {9, 54, 90},
 (1, 2, 3),
 False]

In [ ]:
li.index('spam') # index of 1st appearance

3

#Adding values to Lists with  append() and insert() methods

append() method adds the elemnt to the end of the list

In [ ]:
spam = ['cat','cow','lion', 'goat']
spam.append('tiger')

In [ ]:
spam

['cat', 'cow', 'lion', 'goat', 'tiger']

insert() method insert a value at any index in the list

In [ ]:
spam.insert(2, 'horse') # at index 2

In [ ]:
spam

['cat', 'cow', 'horse', 'lion', 'goat', 'tiger']

append() and insert() can be called only on list values

#removing values from Lists with remove()

In [ ]:
spam

['cat', 'cow', 'horse', 'lion', 'goat', 'tiger']

In [ ]:
spam.remove('lion')

In [ ]:
spam

['cat', 'cow', 'horse', 'goat', 'tiger']

Attempting to delete a va;ue that does not exists in the list will result in a vaueerror

In [ ]:
spam.remove('bat')

ValueError: ignored

Another way , we can remove element by using pop() method, which receives an index

In [ ]:
spam

['cat', 'cow', 'horse', 'goat', 'tiger']

In [ ]:
spam.pop(3)

'goat'

In [ ]:
spam

['cat', 'cow', 'horse', 'tiger']

#Sorting the values in a List with the sort() method

In [ ]:
number = [2,1,33,56,7]

In [ ]:
number.sort()

In [ ]:
number

[1, 2, 7, 33, 56]

In [ ]:
spam.sort()

In [ ]:
spam

['cat', 'cow', 'horse', 'tiger']

reverse order  (descending)

In [ ]:

number.sort(reverse = True)
number

[56, 33, 7, 2, 1]

In [ ]:
spam.sort(reverse = True)
spam

['tiger', 'horse', 'cow', 'cat']

In [ ]:
list5 = [100,'hi',1,2,'ai'] #  can't compare int and str
list5.sort()

TypeError: ignored

sort() uses ASCIIbetical order

uppercase letters come before lowercase lettters

But if you need to sort values in regular alphabetical order, then try this

In [ ]:
charecters = ['a','A','t','U']
charecters.sort(key=str.lower)
charecters

['a', 'A', 't', 'U']

#extend() method

adding one list into another list

In [ ]:
color = ['red','green','blue']
number_ = [3,5,4]
color.extend(number_)

In [ ]:
color

['red', 'green', 'blue', 3, 5, 4]

#copy() method

In [ ]:
li1

[1, 2, 3, 'ai']

In [ ]:
li2

['a', 'b', 'c']

In [ ]:
li_new = li1.copy() #copy kore rakhle li1 a pore  change korleo li_new te ager tai pabo, ekhane chnage hobe na
#but li_new = li1 evabe assign korle li1 a chnage korle li_new teo chnage hoye jabe

In [ ]:
li_new

[1, 2, 3, 'ai']

#count() method

In [ ]:
flower = ['Tulip','Cherry blossom' ,'Daffodil', 'Cherry blossom','Bluebell', 'Cherry blossom','Rose', 'Snowdrop', 'Cherry blossom','Bluebell']

In [ ]:
flower.count('Cherry blossom')

4

#clear() method

In [ ]:
flower

['Tulip',
 'Cherry blossom',
 'Daffodil',
 'Cherry blossom',
 'Bluebell',
 'Cherry blossom',
 'Rose',
 'Snowdrop',
 'Cherry blossom',
 'Bluebell']

In [ ]:
flower.clear()

In [ ]:
flower

[]

#List Comprehension

for creating list based on sequence python privides a technique called List comprehension, that let us do it  in just one line

In [ ]:
multiples = [x*7 for x in range(1,11)]
multiples

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

we can use this technique whenever we want to create a list based on a range, or based on the contents of a list a tuple a string or any other python sequence

say, we have a list of strings with the names of programing languages like C, C++, Python, Rubi, Go, 

and we want to generate a list of the length of the strings, we could iterate over the list and add them, or we can use a list comprehension

In [ ]:
# list comprehension
languages = ['Python', 'Rubi','C++','Go','Java','C']
lengths = [len(language) for language in languages]
lengths

[6, 4, 3, 2, 4, 1]

List comprehension also let us use a conditional clause

say, we want all the numbers  that are divisible by 3 in range 0 and 100

In [ ]:
div_by_3 = [x for x in range(1,40) if x%3 == 0]

In [ ]:
div_by_3

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39]

In [ ]:
#